.allPosts {
  display: flex;
  flex-direction: column;
  height: 100%;
  .allPosts__wrapper {
    flex: 1;
    margin: 40px auto 70px;
    width: 1080px;
    .allPosts__title {
      margin: 0 0 40px 0;
      text-align: center;
    }
    .allPosts__list {
      display: flex;
      flex-wrap: wrap;
      gap: 50px 30px;
      .cardSmall {
        width: calc((100% - 60px)/3);
      }
    }
  }
}