.allPosts {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.allPosts .allPosts__wrapper {
  flex: 1;
  margin: 40px auto 70px;
  width: 1080px;
}
.allPosts .allPosts__wrapper .allPosts__title {
  margin: 0 0 40px 0;
  text-align: center;
}
.allPosts .allPosts__wrapper .allPosts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}
.allPosts .allPosts__wrapper .allPosts__list .cardSmall {
  width: calc((100% - 60px) / 3);
}