.allPosts {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.allPosts .allPosts__wrapper {
  flex: 1;
  margin: 40px auto 80px;
  width: 1080px;
}
.allPosts .allPosts__wrapper .allPosts__title {
  margin: 0 0 56px 0;
  text-transform: none;
}
.allPosts .allPosts__wrapper .allPosts__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}