.qualification {
  width: 100%;
  .qualification__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 30px 30px;
  }
}

.react-photo-album--button {
  height: auto;
}
.react-photo-album--image {
  border: 5px solid var(--white);
  cursor: zoom-in;
}