.headerAdmin {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: var(--background);
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  z-index: 10;
  .headerAdmin__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1350px;
    padding: 0 30px 0 20px;
    .headerAdmin__navigation {
      display: flex;
      gap: 5px;
      a {
        font-family: var(--font-tall);
        font-size: 14px;
        padding: 10px;
        color: var(--green-text);
        text-transform: uppercase;
        transition: all 0.1s ease-in-out 0s;        
        &:hover {
          color: var(--beige-2);
        }
      }
    }
    .headerAdmin__logo {
      text-align: center;
      cursor: pointer;
      .logo__name {
        font-family: var(--font-logo);
        font-size: 24px;
        color: var(--green);
        margin: 0 0 1px 0;
      }
      .logo__position {
        font-family: var(--font-tall);
        font-size: 9.5px;
        letter-spacing: 0.02em;
        color: var(--green-text);
        text-transform: uppercase;
      }
    }
    .headerAdmin__right {
      display: flex;
      gap: 25px;
      align-items: center;
      .headerAdmin__adminText {
        font-family: var(--font-tall);
        font-size: 14px;
        text-transform: uppercase;
      }
      .headerAdmin__exit {
        min-width: 120px;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 799.98px) {
  .headerAdmin {
    .headerAdmin__wrapper {
      .headerAdmin__logo {
        display: none;
      }
      .headerAdmin__right {
        .headerAdmin__adminText {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 599.98px) {
  .headerAdmin {
    height: 60px;
  }
}

@media (max-width: 479.98px) {
  .headerAdmin {
    .headerAdmin__wrapper {
      padding: 0 20px 0 13px;
      .headerAdmin__navigation {
        gap: 0;
        a {
          padding: 7px;
        }
      }
      .headerAdmin__right {
        .headerAdmin__exit {
          min-width: 100px;
        }
      }
    }
  }
}