.mainPicture {
  position: relative;
  width: 100%;
  .mainPicture__info {
    position: absolute;
    top: 62%;
    left: calc((100% - 1340px)/2);
    padding: 0 30px;
    font-size: 24px;
    color: var(--green-text);
    .mainPicture__title {
      font-size: 64px;
    }
    .mainPicture__name {
      font-size: 48px;
    }
  }
  .loadingImage {
    filter: blur(8px);
  }
}

@media (max-width: 1339.98px) {
  .mainPicture {
    .mainPicture__info {
      top: 55%;
      left: 0;
    }
  }
}

@media (max-width: 999.98px) {
  .mainPicture {
    .mainPicture__info {
      .mainPicture__title {
        font-size: 54px;
      }
      .mainPicture__name {
        font-size: 42px;
      }
    }
  }
}

@media (max-width: 799.98px) {
  .mainPicture {
    .mainPicture__info {
      .mainPicture__title {
        font-size: 44px;
      }
      .mainPicture__name {
        font-size: 34px;
      }
    }
  }
}

@media (max-width: 599.98px) {
  .mainPicture {
    .mainPicture__info {
      .mainPicture__title {
        font-size: 37px;
      }
      .mainPicture__name {
        font-size: 29px;
      }
    }
  }
}

@media (max-width: 499.98px) {
  .mainPicture {
    .mainPicture__info {
      .mainPicture__title {
        font-size: 30px;
      }
      .mainPicture__name {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 399.98px) {
  .mainPicture {
    .mainPicture__info {
      .mainPicture__title {
        font-size: 26px;
      }
      .mainPicture__name {
        font-size: 22px;
      }
    }
  }
}