.textareaBlock {
  position: relative;
  .textarea {
    &.warning {
      border: 1px solid var(--warning);
    }
    &.medium {
      height: 150px;
    }
    &.big {
      height: 200px;
    }
  }
  .error {
    position: absolute;
    display: flex;
    align-items: center;
    margin: -1px 0 0 3px;
    span {
      font-size: 11px;
      line-height: 1;
      margin: 0 0 0 7px;
    }
  }
}