.newPostRequired .newPostRequired__up {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}
.newPostRequired .newPostRequired__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.newPostRequired .newPostRequired__form .newPostRequired__line {
  width: 100%;
  display: flex;
  gap: 15px;
}
.newPostRequired .newPostRequired__form .newPostRequired__button {
  margin-left: auto;
  border-radius: 5px;
}