.cardSmall {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--border);
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.cardSmall:hover {
  box-shadow: 0 4px 4px 1px var(--border);
}
.cardSmall .cardSmall__content {
  padding: 18px 20px;
}
.cardSmall .cardSmall__content .cardSmall__title {
  font-weight: 600;
}
.cardSmall .cardSmall__content .cardSmall__description {
  font-size: 14px;
  line-height: 16px;
  height: 48px;
  margin: 12px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cardSmall .cardSmall__content .cardSmall__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 0 0;
}
.cardSmall .cardSmall__content .cardSmall__bottom .cardSmall__date {
  font-size: 12px;
  opacity: 0.8;
}
.cardSmall .cardSmall__content .cardSmall__bottom .cardSmall__icon {
  width: 16px;
  height: 16px;
}