.cardSmall {
  width: 100%;
  cursor: pointer;
}
.cardSmall .cardSmall__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  padding: 20px 0 0 0;
}
.cardSmall .cardSmall__content .cardSmall__title {
  margin: 0 auto;
}
.cardSmall .cardSmall__content .cardSmall__pencil {
  width: 22px;
  height: 22px;
}