.cardSmall {
  width: 100%;
  cursor: pointer;
  .cardSmall__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 0 0 0;
    .cardSmall__title {
      margin: 0 auto;
    }
  }
}