.cardSmall {
  width: 100%;
  cursor: pointer;
}
.cardSmall .cardSmall__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}
.cardSmall .cardSmall__content .cardSmall__title {
  margin: 0 auto;
}