.newPostSelection {
  position: relative;
  padding: 25px 25px 20px;
  background-color: var(--background);
  border-radius: 15px;
  border: 2px dashed var(--green);
  .newPostSelection__cross {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .newPostSelection__title {
    text-align: center;
    margin: 0 0 15px 0;
  }
  .newPostSelection__list {
    display: flex;
    justify-content: space-around;
    margin: 0 0 15px 0;
  }
  .newPostSelection__button {
    margin-left: auto;
    border-radius: 5px;
  }
}