.about {
  display: flex;
  align-items: center;
  gap: 140px;
  .about__image {
    width: 45%;
  }
  .about__info {
    width: 55%;
    .about__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 0 30px 0;
      font-size: 24px;
      line-height: 1.2;
    }
    .about__button {
      margin: 45px 0 0 0;
      width: fit-content;
    }
  }
}

@media (max-width: 1079.98px) {
  .about {
    gap: 100px;
  }
}

@media (max-width: 999.98px) {
  .about {
    gap: 50px;
    .about__info {
      padding: 10px 0 0 0;
    }
  }
}

@media (max-width: 699.98px) {
  .about {
    flex-direction: column;
    gap: 40px;
    .about__image {
      width: 100%;
      padding: 0 20px;
    }
    .about__info {
      width: 100%;
      padding: 0 20px 0 40px;
      .about__button {
        margin: 35px 0 0 0;
      }
    }
  }
}

@media (max-width: 599.98px) {
  .about {
    gap: 30px;
    .about__image {
      padding: 0 10px;
    }
    .about__info {
      padding: 0 10px 0 20px;
    }
  }
}

@media (max-width: 499.98px) {
  .about {
    gap: 25px;
    .about__image {
      padding: 0;
    }
    .about__info {
      padding: 10px;
      .about__paragraphs {
        font-size: 19px;
      }
    }
  }
}