.mainPicture {
  position: relative;
  width: 100%;
  .mainPicture__quote {
    position: absolute;
    top: 40%;
    left: calc((100% - 1200px)/2 + 20px);
    font-size: 24px;
    color: var(--white);
  }
}