.content {
  display: flex;
  gap: 80px;
}

@media (max-width: 1000px) {
  .content {
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 40px;
  }
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    gap: 60px;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .content {
    padding: 0;
  }
}