.faqItem {
  width: 100%;
}
.faqItem h4 {
  padding: 0 0 10px 0;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
.faqItem .faqItem__text {
  padding: 30px 20px 0;
  color: var(--white);
}