.cardMedium {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}
.cardMedium:hover {
  box-shadow: 0 2px 10px 1px var(--border);
}
.cardMedium .cardMedium__content {
  display: flex;
  gap: 32px;
  padding: 16px;
}
.cardMedium .cardMedium__content .cardMedium__image {
  width: 40%;
}
.cardMedium .cardMedium__content .cardMedium__info {
  width: 60%;
  margin: 40px 0 0 0;
}
.cardMedium .cardMedium__content .cardMedium__info .cardMedium__date {
  font-size: 14px;
  opacity: 0.8;
}
.cardMedium .cardMedium__content .cardMedium__info .cardMedium__title {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0 0 0;
}
.cardMedium .cardMedium__content .cardMedium__info .cardMedium__description {
  margin: 8px 0 0 0;
}