.about {
  display: flex;
  gap: 140px;
  .about__image {
    width: 45%;
  }
  .about__info {
    width: 55%;
    padding: 20px 0 0 0;
    .about__title {
      margin: 0 0 20px 0;
    }
    .about__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 18px;
      margin: 0 0 30px 0;
      .about__text {
      }
    }
    .about__button {
      width: fit-content;
    }
  }
}