.post {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post .post__wrapper {
  flex: 1;
  margin: 30px auto 70px;
  width: 800px;
}
.post .post__wrapper .post__crumbs {
  margin: 0 0 5px 0;
}
.post .post__wrapper .post__title {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 8px 0;
}
.post .post__wrapper .post__shortInfo {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 0 20px 0;
}
.post .post__wrapper .post__shortInfo .post__author {
  display: flex;
  align-items: center;
  gap: 8px;
}
.post .post__wrapper .post__shortInfo .post__author .author__icon {
  width: 24px;
  height: 24px;
}
.post .post__wrapper .post__shortInfo .post__author .author__text {
  font-size: 14px;
  opacity: 0.8;
}
.post .post__wrapper .post__shortInfo .post__date {
  font-size: 14px;
  opacity: 0.8;
}
.post .post__wrapper .post__image {
  margin: 0 0 0 0;
  position: relative;
  z-index: 0;
}
.post .post__wrapper .post__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}