@charset "UTF-8";
.post {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post .post__wrapper {
  flex: 1;
  margin: 40px auto 80px;
  width: 800px;
}
.post .post__wrapper .post__title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.post .post__wrapper .post__shortInfo {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 20px 0 0 0;
}
.post .post__wrapper .post__shortInfo .post__author {
  display: flex;
  align-items: center;
  gap: 8px;
}
.post .post__wrapper .post__shortInfo .post__author .author__icon {
  width: 24px;
  height: 24px;
}
.post .post__wrapper .post__shortInfo .post__author .author__text {
  font-size: 14px;
  opacity: 0.8;
}
.post .post__wrapper .post__shortInfo .post__date {
  font-size: 14px;
  opacity: 0.8;
}
.post .post__wrapper .post__image {
  margin: 24px 0 0 0;
  position: relative;
  z-index: 0;
}
.post .post__wrapper .post__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 40px 0 0 0;
}
.post .post__wrapper .post__content li {
  letter-spacing: 0.02em;
  line-height: 24px;
}
.post .post__wrapper .post__content .text {
  letter-spacing: 0.02em;
  line-height: 24px;
}
.post .post__wrapper .post__content .title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.post .post__wrapper .post__content .textWithTitle .title {
  margin: 0 0 16px 0;
}
.post .post__wrapper .post__content .image {
  position: relative;
  z-index: 0;
  margin: 0 auto;
}
.post .post__wrapper .post__content .image img {
  width: 100%;
}
.post .post__wrapper .post__content .image.big {
  width: 100%;
}
.post .post__wrapper .post__content .image.big img {
  border-radius: 12px;
}
.post .post__wrapper .post__content .image.medium {
  width: 75%;
}
.post .post__wrapper .post__content .image.medium img {
  border-radius: 10px;
}
.post .post__wrapper .post__content .image.small {
  width: 50%;
}
.post .post__wrapper .post__content .image.small img {
  border-radius: 8px;
}
.post .post__wrapper .post__content .twoImage {
  display: flex;
  gap: 20px;
}
.post .post__wrapper .post__content .twoImage img {
  width: 100%;
  border-radius: 8px;
}
.post .post__wrapper .post__content .list .text {
  margin: 0 0 12px 0;
}
.post .post__wrapper .post__content .list ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 0 16px;
}
.post .post__wrapper .post__content .list ul li {
  position: relative;
}
.post .post__wrapper .post__content .list ul li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15.5px;
  height: 6px;
  width: 6px;
  rotate: 45deg;
  background-color: var(--dark-grey);
}
.post .post__wrapper .post__content .list ol {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 0 18px;
}
.post .post__wrapper .post__content .quote {
  padding: 24px;
  font-style: italic;
  letter-spacing: 0.02em;
  line-height: 24px;
  background-color: #F6F6F7;
  border-radius: 12px;
  border-left: 4px solid #E8E8EA;
}
.post .post__wrapper .post__content .quote::before {
  content: "“";
}
.post .post__wrapper .post__content .quote::after {
  content: "”";
}