.usersPageTableLines .usersPageTableLines__line {
  display: flex;
  align-items: center;
  gap: 26px;
  height: 44px;
  padding: 0 20px;
  border-bottom: 1px solid var(--disabled-hover);
}
.usersPageTableLines .usersPageTableLines__line .name {
  flex: 2;
}
.usersPageTableLines .usersPageTableLines__line .email {
  flex: 3;
  overflow: hidden;
}
.usersPageTableLines .usersPageTableLines__line .phone {
  flex: 3;
}
.usersPageTableLines .usersPageTableLines__line .date {
  flex: 3;
}
.usersPageTableLines .usersPageTableLines__line .delete {
  max-width: 24px;
  cursor: pointer;
}