.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: var(--background);
  box-shadow: 0 0 4px rgba(0,0,0,.05);
  z-index: 10;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1300px;
    .header__navigation {
      display: flex;
      gap: 5px;
      a {
        font-family: var(--font-tall);
        font-size: 14px;
        font-weight: 400;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: var(--green-text);
        transition: all 0.1s ease-in-out 0s;        
        &:hover {
          color: var(--beige-2);
        }
      }
    }
    .header__logo {
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      .logo__name {
        font-family: var(--font-title);
        font-size: 22px;
        color: var(--logo);
        line-height: 1.3;
        letter-spacing: 0.06em;
      }
      .logo__position {
        font-size: 9.5px;
        color: var(--logo);
        line-height: 1.4;
        letter-spacing: 0.05em;
      }
    }
  }
}