.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 80px;
  background: var(--white);
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1080px;
}
.header .header__wrapper .header__logo {
  cursor: pointer;
}
.header .header__wrapper .header__navigation {
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}
.header .header__wrapper .header__navigation a {
  color: var(--green);
  padding: 10px;
}
.header .header__wrapper .header__navigation a:hover {
  color: var(--gold);
}
.header .header__wrapper .header__icons {
  display: flex;
  gap: 20px;
}
.header .header__wrapper .header__icons .header__icon {
  cursor: pointer;
}