.header {
  position: fixed;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 75px;
  width: 100%;
  background: var(--white);
  box-shadow: 0 0 4px rgba(0,0,0,.05);
  z-index: 10;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1080px;
    .header__logo {
      cursor: pointer;
    }
    .header__navigation {
      display: flex;
      gap: 10px;
      font-size: 16px;
      font-weight: 400;
      a {
        color: var(--green);
        padding: 10px;
        &:hover {
          color: var(--gold);
        }
      }
    }
    .header__icons {
      display: flex;
      gap: 20px;
      .header__icon {
        cursor: pointer;
      }
    }
  }
}