.person {
  background-color: var(--background-grey);
}
.person .person__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 900px;
  padding: 60px 0 60px;
  margin: 0 auto;
}
.person .person__wrapper .person__info {
  width: 55.5555555556%;
}
.person .person__wrapper .person__info .person__position {
  font-size: 24px;
  margin: 10px 0 0 0;
}
.person .person__wrapper .person__info .person__button {
  width: 180px;
  height: 50px;
  margin: 40px 0 0 0;
}
.person .person__wrapper .person__image {
  width: 44.4444444444%;
  position: relative;
  z-index: 0;
}
.person .person__wrapper .person__image img {
  width: 100%;
  border-radius: 8px;
}