.person {
  background-color: var(--background-grey);
  .person__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 900px;
    padding: 60px 0 60px;
    margin: 0 auto;
    .person__info {
      width: calc(5/9*100%);
      .person__position {
        font-size: 24px;
        margin: 10px 0 0 0;
      }
      .person__button {
        width: 180px;
        height: 50px;
        margin: 40px 0 0 0;
      }
    }
    .person__image {
      width: calc(4/9*100%);
      position: relative;
      z-index: 0;
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }
}