.footer {
  width: 100%;
}
.footer .footer__navigation {
  display: flex;
  background: var(--beige-1);
  padding: 60px 0;
}
.footer .footer__navigation .footer__column {
  width: 33.3333333333%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer .footer__navigation .footer__column a {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 20px;
  font-family: var(--font-tall);
  text-transform: uppercase;
  color: var(--green-text);
  transition: all 0.1s ease-in-out 0s;
}
.footer .footer__navigation .footer__column a:hover {
  color: var(--beige-2);
}
.footer .footer__navigation .footer__icons {
  width: 33.3333333333%;
  border-left: 1px solid var(--green-text);
  border-right: 1px solid var(--green-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer__navigation .footer__icons .icons__text {
  font-family: var(--font-tall);
  text-align: center;
  text-transform: uppercase;
  color: var(--green-text);
  margin: 0 0 7px 0;
}
.footer .footer__navigation .footer__icons .icons__email {
  font-family: var(--font-tall);
  color: var(--green-text);
  margin: 0 auto 4px;
  transition: all 0.1s ease-in-out 0s;
}
.footer .footer__navigation .footer__icons .icons__email:hover {
  color: var(--beige-2);
}
.footer .footer__navigation .footer__icons .icons__block {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer .footer__navigation .footer__icons .icons__block .icons__item {
  width: 45px;
  height: 45px;
  padding: 5px;
  cursor: pointer;
}
.footer .footer__navigation .footer__icons .icons__block .icons__item path:first-child {
  fill: var(--green-text);
  transition: all 0.1s ease-in-out 0s;
}
.footer .footer__navigation .footer__icons .icons__block .icons__item path:last-child {
  fill: var(--beige-1);
}
.footer .footer__navigation .footer__icons .icons__block .icons__item:hover path:first-child {
  fill: var(--beige-2);
}
.footer .footer__copyright {
  background: var(--beige-2);
  padding: 16px 0 12px 0;
}
.footer .footer__copyright .copyright__text {
  font-size: 12px;
  text-align: center;
  color: var(--white);
}
.footer .footer__copyright .copyright__text a {
  display: inline-block;
  color: var(--white);
  border-bottom: 1px solid var(--beige-1);
}
.footer .footer__copyright .copyright__text a:hover {
  color: var(--beige-1);
}