.footer {
  width: 100%;
  background: var(--footer);
  box-shadow: 0 0 4px rgba(0,0,0,.05);
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    margin: 0 auto;
    padding: 16px 0;
    .footer__navigation {
      display: flex;
      flex-wrap: wrap;
      width: calc(100px*3 + 20px*2);
      column-gap: 20px;
      font-size: 12px;
      font-weight: 400;
      a {
        width: 100px;
        padding: 8px 10px;
        color: var(--green);
        transition: all 0.1s ease-in-out 0s;        
        &:hover {
          color: var(--gold);
        }
      }
    }
    .footer__icons {
      display: flex;
      gap: 16px;
      .footer__icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}