.sectionTemplate {
  padding: 70px 0;
}
.sectionTemplate.background__white {
  background-color: var(--white);
}
.sectionTemplate.background__grey {
  background-color: var(--background-grey);
}
.sectionTemplate .sectionTemplate__wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.sectionTemplate .sectionTemplate__wrapper h2 {
  margin: 0 0 70px 0;
}
.sectionTemplate .sectionTemplate__wrapper .sectionTemplate__button {
  width: 400px;
  margin: 70px auto 0;
}