.sectionTemplate {
  padding: 80px 0;
  background-color: var(--background);
}
.sectionTemplate.beige1 {
  background-color: var(--beige-1);
}
.sectionTemplate.green {
  background-color: var(--green-bright);
}
.sectionTemplate .sectionTemplate__wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
.sectionTemplate .sectionTemplate__wrapper .sectionTemplate__title {
  margin: 0 0 50px 0;
  color: var(--black);
  text-align: center;
}
.sectionTemplate .sectionTemplate__wrapper .sectionTemplate__title.title__white {
  color: var(--white);
}
.sectionTemplate .sectionTemplate__wrapper .sectionTemplate__title.title__black {
  color: var(--black);
}