.usersPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.usersPage .usersPage__wrapper {
  position: relative;
  flex: 1;
  margin: 30px auto 70px;
  width: 1080px;
}
.usersPage .usersPage__wrapper .usersPage__title {
  margin: 0 0 40px 0;
  text-align: center;
}
.usersPage .usersPage__wrapper .usersPage__table .usersPage__empty {
  text-align: center;
  padding: 20px 0 0 0;
}