.prices {
  max-width: 900px;
  margin: 0 auto;
}
.prices h3 {
  margin: 0 0 50px 0;
  text-align: center;
}
.prices .prices__items {
  display: flex;
  gap: 100px;
  margin: 0 0 50px 0;
}
.prices .prices__button {
  max-width: 260px;
  margin: 0 auto;
}