.customSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  .content {
    max-width: 430px;
    img {
      display: block;
      width: 100%;
    }
  }
}

.mySwiper {
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .swiper-button-prev {
    left: 5px;
    &:after {
      font-size: 11px;
      padding: 8px 11px 8px 10px;
      color: var(--dark-grey);
      background-color: var(--disabled);
      border-radius: 50%;
    }
  }
  .swiper-button-next {
    right: 5px;
    &:after {
      font-size: 11px;
      padding: 8px 10px 8px 11px;
      color: var(--dark-grey);
      background-color: var(--disabled);
      border-radius: 50%;
    }
  }
  .swiper-pagination-bullets {
    &.swiper-pagination-horizontal {
      bottom: 0px;
    }
    .swiper-pagination-bullet {
      height: 4px;
      width: 25px;
      border-radius: 2px;
      margin: 0 5px;
      &.swiper-pagination-bullet-active  {
        background: var(--beige-2);
      }
    }
  }
}