@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*--------- CONST ----------*/
:root {
  --font-family: 'Montserrat', Arial, sans-serif;
  --white: #FFFFFF;
  --dirty-white: #F4F4F4;
  --footer: #E4E4E4;
  --black: #24262E;
  --dark-grey: #383838;
  --faint-text: #8D8D8D;
  --gold: #D2BA7C;
  --green: #004523;
  --border: #E8E8EA;
  --background-grey: #F0F0F0;
  --warning: #FFAA00;
}

/*--------- NULLING STYLE ----------*/
*{
	padding: 0;
	margin: 0;
	border: 0;}
*,*:before, after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1.2;
	font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--dark-grey);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
div, p, a, span {font-family: var(--font-family); color: var(--dark-grey);}
input,button,textarea{font-family: var(--font-family);}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-mox-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none; cursor: pointer; display: block;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{display: block; vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-family: var(--font-family); font-weight:400;}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 75px 0 0 0;
}

#root {
  height: 100%;
}

/*--------- STYLES ---------*/

h1 {
  font-size: 48px;
  color: var(--green);
}

h2 {
  font-size: 36px;
  letter-spacing: 0.02em;
  color: var(--green);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--gold);
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 24px;
  line-height: 18px;
  letter-spacing: 0.02em;
  background-color: var(--dirty-white);
  border-radius: 5px;
}
textarea {
  height: 100px;
  width: 100%;
  padding: 21px 24px;
  line-height: 18px;
  letter-spacing: 0.02em;
  background-color: var(--dirty-white);
  border-radius: 5px;
  resize: none;
}
input:focus,
textarea:focus {
  border: 1px solid var(--black);
}
input::placeholder,
textarea::placeholder {
  color: var(--faint-text);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.btnBlack {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 0 25px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out 0s;
}
.btnBlack:hover:not(:disabled) {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}
.btnBlack:disabled {
  background-color: var(--faint-text);
  cursor: not-allowed;
}

.btnWhite {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 0 25px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out 0s;
}
.btnWhite:hover {
  color: var(--white);
  background-color: var(--black);
}

.smallBtn {
  width: 150px;
  height: 40px;
  font-size: 14px;
}

.imageBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 16px;
  left: 16px;
  z-index: -1;
  border: 1px solid var(--gold);
  border-radius: 12px;
  opacity: 0.5;
}