.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .contacts__info {
    max-width: 370px;
    h5 {
      opacity: 0.8;
    }
    h3 {
      margin: 10px 0 0 0;
    }
    .contacts__icons {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 25px 0 0 0;
      .contacts__icon {
        display: flex;
        align-items: center;
        gap: 15px;
        .icon__image {
          width: 30px;
          height: 30px;
        }
        .icon__text {
          font-size: 18px;
        }
      }
    }
  }
  .contacts__form {
    max-width: 600px;
    padding: 70px 75px;
    background-color: var(--white);
    .form__title {
      text-align: center;
    }
    .form__subtitle {
      font-size: 14px;
      padding: 25px 0 40px;
      text-align: center;
    }
    .form__inputs {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .form__button {
      margin: 30px 0 0 0;
      width: 100%;
    }
    .form__policy {
      font-size: 12px;
      margin: 20px 0 0 0;
      color: var(--dark-grey);
    }
  }
}