.contacts {
  position: relative;
  background-color: var(--background);
  z-index: 1;
}
.contacts:before {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: var(--green);
  z-index: -1;
}
.contacts .contacts__wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 70px 20px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.contacts .contacts__wrapper .contacts__image {
  width: 45%;
}
.contacts .contacts__wrapper .contacts__form {
  width: 55%;
}
.contacts .contacts__wrapper .contacts__form .form__content {
  max-width: 450px;
}
.contacts .contacts__wrapper .contacts__form .form__content .form__title {
  text-align: center;
  margin: 0 0 30px 0;
}
.contacts .contacts__wrapper .contacts__form .form__content .form__inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 11px 0;
}
.contacts .contacts__wrapper .contacts__form .form__content .form__button {
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 5px;
}
.contacts .contacts__wrapper .contacts__form .form__content .form__policy {
  font-size: 10px;
  text-align: center;
  opacity: 0.8;
}