.contacts {
  position: relative;
  background-color: var(--background);
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: var(--green-bright);
    z-index: -1;
  }
  .contacts__wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 70px 20px;
    display: flex;
    align-items: center;
    gap: 100px;
    .contacts__image {
      width: 45%;
    }
    .contacts__form {
      width: 55%;
      .form__content {
        max-width: 450px;
        .form__title {
          text-align: center;
          margin: 0 0 30px 0;
        }
        .form__inputs {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin: 0 0 11px 0;
        }
        .form__button {
          width: 100%;
          margin: 0 0 10px 0;
          border-radius: 5px;
        }
        .form__policy {
          font-size: 10px;
          line-height: 1.2;
          text-align: center;
          opacity: 0.8;
        }
      }
    }
  }
}