.priceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 35px;
  border: 1px solid var(--gold);
}
.priceItem .priceItem__left {
  max-width: 360px;
}
.priceItem .priceItem__left .time {
  display: flex;
  margin: 15px 0 0 0;
}
.priceItem .priceItem__left .time .time__icon {
  width: 16px;
  height: 16px;
  margin: 0 0 0 2px;
}
.priceItem .priceItem__left .time .time__text {
  margin: 0 0 0 13px;
  color: var(----faint-text);
}
.priceItem .priceItem__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.priceItem .priceItem__right .priceItem__price {
  font-size: 35px;
}
.priceItem .priceItem__right .priceItem__buttonToForm {
  padding: 20px 25px;
  border: 1px solid var(--dark-grey);
  text-transform: uppercase;
}