.priceItem {
  width: 100%;
  .priceItem__image {
    margin: 0 0 12px 0;
  }
  h4 {
    line-height: 1.4;
    text-align: center;
    margin: 0 0 15px 0;
  }
  .priceItem__details {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .priceItem__time {
      display: flex;
      align-items: center;
      gap: 10px;
      .time__icon {
        width: 20px;
        height: 20px;
      }
      .time__text {
        line-height: 1;
      }
    }
    .priceItem__price {
      font-size: 28px;
      line-height: 1;
    }
  }
}