.priceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 35px;
  border: 1px solid var(--gold);
  .priceItem__left {
    max-width: 380px;
    .time {
      display: flex;
      align-items: center;
      margin: 12px 0 0 0;
      .time__icon {
        width: 18px;
        height: 18px;
      }
      .time__text {
        margin: 0 0 0 8px;
        color: var(----faint-text);
      }
    }
  }
  .priceItem__right {
    display: flex;
    align-items: center;
    gap: 20px;
    .priceItem__price {
      font-size: 35px;
    }
  }
}