.priceItem {
  width: 100%;
}
.priceItem .priceItem__image {
  margin: 0 0 20px 0;
}
.priceItem h4 {
  line-height: 1.4;
  margin: 0 0 10px 0;
}
.priceItem .priceItem__details {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.priceItem .priceItem__details .priceItem__time {
  display: flex;
  align-items: center;
  gap: 10px;
}
.priceItem .priceItem__details .priceItem__time .time__icon {
  width: 20px;
  height: 20px;
}
.priceItem .priceItem__details .priceItem__time .time__text {
  line-height: 1;
}
.priceItem .priceItem__details .priceItem__price {
  font-size: 28px;
  line-height: 1;
}