.priceItem {
  width: 100%;
}
.priceItem .priceItem__image {
  margin: 0 0 12px 0;
}
.priceItem h4 {
  text-align: center;
  margin: 0 0 15px 0;
}
.priceItem .priceItem__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
}
.priceItem .priceItem__details .priceItem__time {
  display: flex;
  align-items: center;
  gap: 10px;
}
.priceItem .priceItem__details .priceItem__time .time__icon {
  width: 20px;
  height: 20px;
}
.priceItem .priceItem__details .priceItem__price {
  font-size: 28px;
}