.showBlockInNewPost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  .showBlockInNewPost__content {
    width: 100%;
    max-width: 800px;
  }
  .showBlockInNewPost__icons {
    display: flex;
    gap: 20px;
    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
}